html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    font-size: 22px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
}

.logo {
    height: 38px;
    left: 4px;
    position: absolute;
    top: 4px;
}

.lang-group {
    position: absolute;
    right: 7px;
    top: 7px;
}

.lang-group .dropdown-menu {
    max-height: 194px;
    overflow-y: scroll;
}

.lang-group .btn {
    padding-left: 30px;
}

.lang-group svg {
    height: 17px;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 17px;
}

.subheading {
    margin-bottom: 30px;
}

main {
    min-height: calc(100% - 75px);
}

main::after {
    content: '';
    display: block;
    height: 50px;
}

footer {
    border-top: solid 1px #ccc;
    height: 50px;
    line-height: 50px;
    margin-top: -50px;
    padding: 0 10px;
    width: 100%;
}

.highlight {
    font-weight: bold;
}

.no-bold {
    font-weight: normal;
}
