<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}Global Search</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="navbar navbar-default text-center">
            Global Search
        </header>
        <main class="container-fluid">
            <p class="subheading text-center">
                Search within wikitext across all Wikimedia Foundation wikis.
            </p>
            <form>
                <div class="form-group">
                    <label for="searchQuery">Query:</label>
                    <input type="text" class="form-control" name="q" id="searchQuery"{% if q is defined %} value="{{ q }}"{% endif %} required="required" />
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="regex" value="1"{% if regex is not empty %} checked="checked"{% endif %}>
                        Regular expression
                    </label>
                    (slow)
                </div>
                <div class="form-group form-inline">
                    <label for="namespaceIds">Namespaces:</label>
                    <input type="text" class="form-control" name="namespaces" id="namespaceIds" value="{{ namespaces }}" />
                    &nbsp;
                    <small class="text-muted">Comma-separated list of namespace IDs. Leave blank for all namespaces.</small>
                </div>
                {## IDEAS FOR MORE FILTERS: ##}
                {# title, source, or both #}
                {# include redirects (only if filtering by title) #}
                {# restrict to wikipedias, wiktionarys, etc. #}
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            {% block body %}{% endblock %}
        </main>
        <footer class="text-center">
            Brought to you by
            <a target="_blank" href="https://en.wikipedia.org/wiki/User:MusikAnimal">MusikAnimal</a>
            and
            <a target="_blank" href="https://www.mediawiki.org/wiki/User:EBernhardson_(WMF)">EBernhardson</a>
            &middot;
            Powered by <a target="_blank" href="https://wikitech.wikimedia.org/wiki/CloudElastic">CloudElastic</a>
            &middot;
            <a target="_blank" href="https://github.com/MusikAnimal/global-search">View source</a>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
